<!DOCTYPE html>
<html>
<head>
<h1>RedesSociales#google_mas</h1>
<p>Find me in app/views/redes_sociales/google_mas.html.erb</p>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="imagen_logo">
   <%= image_tag "google_mas_logo.jpg", :alt => "Google +", :title => "Google +"%>
</div>
<div class="descipcion">
   <h2> Google+ </h2>
   <p> Google+ (pronunciado y a veces escrito Google Plus, a veces abreviado como G+, en algunos países de lengua hispana pronunciado Google Más) es un servicio de red social operado por Google Inc. El servicio, lanzado el 28 de junio de 2011, está basado en HTML5. Los usuarios tienen que ser mayores de 18 años de edad,2 para crear sus propias cuentas. Google+ ya es la segunda red social más popular del mundo con aproximadamente 343 millones de usuarios activos. </p>
   <p> Google+ integra los servicios sociales, tales como Google Perfiles y Google Buzz, e introduce los nuevos servicios: Círculos, Quedadas, Intereses y Mensajes.3 Google+ también estará disponible como una aplicación de escritorio y como una aplicación móvil, pero sólo en los sistemas operativos Android e iOS. Fuentes tales como The New York Times lo han declarado el mayor intento de Google para competir con la red social Facebook,4 la cual tenía más de 750 millones de usuarios en 2011.5 El 20 de septiembre de 2011, Google permitió la creación de cuentas a usuarios con más de 18 años, con mejoras en sus extensiones de videoconferencias.6 </p>
   <p> Extraído de: <%= link_to "Wikipedia", "http://es.wikipedia.org/wiki/Google%2B", :target => "_blank" %> </p>
</div>
<div class="clear"></div>
	
</body>
</html>


